article {
  box-sizing: border-box;

  border-style: solid;
  min-height: 170px;
  margin-top: 30px;
  padding: 15px;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

article:hover {
  box-shadow: 6px 6px;
}

article.tweet > header {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  background-color: #f4f1ec;

}

article header img {
  width: 30px;
  bottom: 0px;
}

article > header > span {
  margin-right: auto;
}

article > header > a {
  visibility: hidden;
  opacity: 0.4;
}

article:hover header > a {
  visibility: visible;
}


article > span {
  width: 100%;
  margin-top: auto;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

article.tweet footer {
  width: 100%;
  height: 30px;
  font-size: 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #f4f1ec;
  align-items: flex-end;
}

article.tweet > footer span {
  margin-right: auto;
}

article.tweet > footer img {
  visibility: hidden;
  cursor: pointer;
  opacity: 0.4;
  width: 16px;
  margin-right: 7px;
}

article:hover footer > img {
  visibility: visible;
}