body > header {
  box-sizing: border-box;
  height: 400px;
  width: 100%;
  background-color: #a38200;
  background-image: url("../images/asfalt-light.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  /* position: relative;
  bottom: -57px; */
  align-self: center;
}

h2 {
  margin: 0;
  /* position: relative; */
  /* bottom: -10px; */
  /* align-self: flex-end; */
  margin-top: auto;
}
