nav {
  position: fixed;
  top: 0;
  z-index: 5;
  background: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 120px;
  width: 100%;
  padding: 1.5em;
}




nav > span {
  font-family: 'Bungee', sans-serif;
}