form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

textarea {
  background-color: #f4f1ec;
  color: #545149;
  width: 100%;
  border-style: solid;
  border-width: 0 0 4px 0;

  margin-bottom: 12px;

  display: block;
}

.new-tweet {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

form > input {
  background: #4056A1;
  color: #FFFFFF;

  font-family: 'Bungee', sans-serif;
}

.negative {
  color: red;
}
